#cart-page {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  padding-top: 2.5rem;
}

.item-link {
  text-decoration: none;
}
.cart-photo {
  width: 20%;
}
.remove-item {
  background-color: rgb(236, 31, 31);
  color: white;
  width: 10%;
  padding: 6px;
  border-radius: 6px;
}

.product-list {
  width: 60vw;
  height: 60vh;
  overflow: auto;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
