h1 {
  text-align: center;
  color: white;
  filter: drop-shadow(0.25rem 0.25rem 0.6rem black);
  font-size: 40px;
}
#treats-background {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(83, 66, 41, 0.294),
      rgba(49, 49, 49, 0.4)
    ),
    url(../assets/milk-cookies.jpeg);
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
  position: relative;
  z-index: -1;
}
#merch-background {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
      rgba(120, 96, 59, 0.768),
      rgba(97, 78, 49, 0.738)
    ),
    url(../assets/merch.jpg);
  height: 65vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
  position: relative;
  z-index: -1;
}

.page-body {
  width: 100%;
  padding-bottom: 2.5rem;
}
.listings {
  background-color: white;
  padding: 0.75rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}
.post {
  text-decoration: none;
  color: black;
}
.post-img {
  max-width: 100%;
}
.purchase-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 25px;
  margin-top: 1.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.add-cart {
  margin: 18px;
}
.fa-plus,
.fa-minus {
  margin: 0px;
  padding: 5px;
}

/* Media Queriies */

@media screen and (max-width: 974px) {
  .listings {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 524px) {
  .listings {
    grid-template-columns: repeat(1, 1fr);
  }
}
