#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;

  font-size: x-large;
  font-weight: 700;
}
#mobile-nav {
  display: none;
}
#myLinks {
  display: none;
}
.nav-link {
  text-decoration: none;
  color: black;
  margin-right: 1rem;
  margin-left: 1rem;

  position: relative;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(
    to right,
    rgb(214 179 89),
    rgb(224 167 23) 49%,
    black 51%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.nav-link:hover {
  background-position: 0 100%;
}
#nav-logo {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  margin-right: 1rem;
  margin-left: 1rem;
}
#nav-logo:hover {
  filter: drop-shadow(0.25rem 0.25rem 0.2rem rgba(199, 148, 21, 0.771));
}
#logo {
  max-width: 35px;
}
#profile {
  margin-left: 5rem;
}

/* Media Queriies */

@media screen and (max-width: 720px) {
  #navbar {
    display: none;
  }
  #mobile-nav {
    background-color: rgba(0, 0, 0, 0.613);
    padding: 1rem;
    margin-top: -10px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #mobile-logo {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-right: 1rem;
    margin-left: 1rem;
    max-width: 51px;
  }
  .fa-bars {
    color: white;
    font-size: x-large;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  #myLinks {
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.851);
  }
  .nav-link {
    padding: 12px;
  }
}
